.main-wrapper {
	margin-top: 4rem;
	transition: $transition;

	@media(max-width: 991px) {
		margin-top: 7rem;
	}

	@media(max-width: 576px) {
		margin-top: 6rem;
	}
}

.menu-open .main-wrapper {
	@media(max-width: 991px) {
		position: relative;
		overflow: hidden;
		transform: translateX(var(--menu-width));
	}
}