extends ../../layouts/layout.pug

block body

	section(style="width: 1170px; margin: 0 auto;")
		h2 Кнопки

		button(data-js="ripple").button.button_primary Главная
		br
		br
		button(data-js="ripple").button.button_primary Тест

	script(src="assets/parts/ripple/ripple.js")