.menu {

}

.menu__list {
	display: flex;
	justify-content: center;
}

.menu__item {
	position: relative;
	padding: 0 2rem;
}

.menu__link {
	display: flex;
	align-items: center;
	height: 4rem;
	font-family: $os_bold;
	font-size: 1.4rem;
	color: $text_c;
	text-transform: uppercase;
	text-decoration: none;
	transition: $transition;

	&:visited {
		color: $text_c;
		text-decoration: none;
	}

	&:hover {
		color: $primary;
		text-decoration: none;
	}

	&.is_active {
		color: $primary;
	}
}

.menu__link_dropdown {
	cursor: pointer;

	& i {
		padding-left: 0.8rem;
	}

	&.is_opens {
		color: $primary;
	}
}

.menu__popup-menu {
	position: absolute;
	top: 5.5rem;
	left: 2rem;
	width: 30rem;
}