.aside-posts
	.title.title_secondary.aside-posts__main-title Популярное
	a.aside-posts__full(href="#", style="background-image: url('/img/five2.jpg')")
		.label.label_secondary.aside-posts__label-full Поступление
		.aside-posts__full-content
			.aside-posts__title Курс польского языка
			.aside-posts__more Узнать больше

	.aside-posts__list
		.aside-posts__item
			.aside-posts__img(style="background-image: url('/img/english.jpg')")
			.aside-posts__content
				.aside-posts__label Магистратура
				.aside-posts__info(href="#") Журналистикa / Cовременные Средства Массовой Информации
		.aside-posts__item
			.aside-posts__img(style="background-image: url('/img/mba.jpg')")
			.aside-posts__content
				.aside-posts__label Магистратура
				.aside-posts__info(href="#") Международные отношения/Европовединие
		.aside-posts__item
			.aside-posts__img(style="background-image: url('/img/doctorate.jpg')")
			.aside-posts__content
				.aside-posts__label Магистратура
				.aside-posts__info(href="#") Информация об оплате за обучение