*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: $os_regular;
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: $grey_light_super;
	color: $text_c;
}