.button {
	cursor: pointer;
	user-select: none;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	height: 4rem;
	font-family: $os_semi;
	font-size: 1.4rem;
	padding: 0 3rem;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 3rem;
	min-width: 19rem;
	transition: $transition;

	&:hover {
		box-shadow: none;
		transform: translateY(-0.4rem);
	}

	&:active {
		
	}
}

.button_primary {
	background-color: $primary;
	color: #fff;

	&:focus {
		background-color: darken($primary, 10%);
	}
}

.button_secondary {
	background-color: $green;
	color: #fff;

	&:focus {
		background-color: darken($green, 10%);
	}
}

.button_basic {
	background-color: $white;
	color: $primary;
	box-shadow: 0 5px 35px rgba(#000, 0.1);
}

.button_warning {
	background-color: $red;
	color: $white;
}