extends layout.pug

block main-wrapper 
	.main-wrapper.main-wrapper_default-page
		block page
			.default-page
				.page-title.default-page__page-title(style="background-image: url('/img/breadcrumbs.jpg')")
					.container
						h1.page-title__title Специальности
				.container
					.default-page__cotent
						main.default-page__main
							block main
						aside.default-page__aside
							include ../parts/aside-posts/aside-posts.pug

		block footer
			include ../parts/footer/footer.pug

	
