.post
	img(src="/img/journalist.jpg", alt="Hello")
	h2 Журналистикa / Cовременные Средства Массовой Информации (СМИ)
	p Журналистика в Общественной Академии наук – это обучение, созданное для тех, кто в будущем хочет связать свою жизнь с современными средствами массовой информации и PR. Программа обучения концентрируется на сфере медиа и включает изучение таких предметов, как журналистики, общественной коммуникации, а также медиального маркетинга и PR. Занятия позволяют приобрести практические и теоретические навыки вместе с лучшими журналистами страны. Предлагаемый профиль обучения обеспечивает студентам большой спрос на рынке труда. Доминирующие занятия в программе обучения проходят не только в нашем учебном заведении, но также и в редакциях, PR-агентствах, сотрудничающих с ОАН.
	p Журналистика в Общественной Академии наук – это обучение, созданное для тех, кто в будущем хочет связать свою жизнь с современными средствами массовой информации и PR. Программа обучения концентрируется на сфере медиа и включает изучение таких
	a(href="#") Какая-то ссылка
	h3 Специальности 
	ul
		li Телевизионная журналистика
		li Радиожурналистика
		li Газетная журналистика
		li Фотожурналистика
		li Маркетинг, СМИ и PR
		li Радиожурналистика
		li Издательская и рекламная фотография
	h3 Факультет «Журналистики и общественной коммуникации» готовят выпускников к работе в:
	ul
		li редакциях информационных СМИ
		li новостных агентствах
		li компаниях, предоставляющих интернет-услуги
		li домах СМИ
		li рекламных и интерактивных агентствах, связи с общественностью (Public Relations)
		li учреждениях, распространяющих информацию
		li разного рода учреждениях и организациях, работающих в общественной сфере и поддерживающих контакт со СМИ
		li пресс-отделах связанных с продвижением компаний и учреждений 

	img(src="/img/interview.jpg", alt="Hello")

	h3 Факультет «Журналистики и общественной коммуникации» готовят выпускников к работе в:
	ul
		li редакциях информационных СМИ
		li новостных агентствах
		li компаниях, предоставляющих интернет-услуги
		li домах СМИ
		li рекламных и интерактивных агентствах, связи с общественностью (Public Relations)
		li учреждениях, распространяющих информацию
		li разного рода учреждениях и организациях, работающих в общественной сфере и поддерживающих контакт со СМИ
		li пресс-отделах связанных с продвижением компаний и учреждений 