.popup-menu {
	position: absolute;
	top: 5.5rem;
	left: 2rem;
	width: 30rem;
	z-index: -100;
	background-color: $white;
	border-radius: 1rem;
	box-shadow: $boxshadow_light;
	transform: scaleY(0.1);
	transform-origin: 0 0;
	transition: $transition;
	opacity: 0;
	pointer-events: none;

	@media(max-width: 991px) {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		display: block;
		pointer-events: auto;
		opacity: 1;
		box-shadow: none;
		z-index: 2;
		transform: scaleY(1);

		& .popup-menu__list {
			opacity: 1;
		}
	}

	&.is_visible {
		opacity: 1;
		transform: scaleY(1);
		z-index: 2;
		pointer-events: auto;

		& .popup-menu__list {
			opacity: 1;
		}
	}
}

.popup-menu__list {
	display: flex;
	flex-direction: column;
	transition: opacity 0.35s ease-in-out 0.2s;
	opacity: 0;
}

.popup-menu__link {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5rem;
	padding: 0 2rem 0 5rem;
	border-bottom: 1px solid $grey_light_super;
	color: $text_c;
	transition: $transition;

	@media(max-width: 991px) {
		padding: 0 2rem 0 4rem;
		height: 4rem;
		border-bottom: none;
		color: $grey;
	}

	&:before {
		font-family: 'fontawesome';
		position: absolute;
		top: 50%;
		width: 3rem;
		height: 2.5rem;
		line-height: 2.5rem;
		color: $grey_light_easy;
		font-size: 1.4rem;
		text-align: center;
		transform: translateY(-50%);
		transition: $transition;
		content: "\f0c1";
		left: 0.6rem;
		border-radius: 0.7rem;

		@media(max-width: 991px) {
			display: none;
		}
	}

	&:visited {
		text-decoration: none;
		color: $text_c;

		@media(max-width: 991px) {
			color: $grey;
		}
	}

	&:hover {
		background-color: $grey_light_super;
		text-decoration: none;
	}

	&:last-child {
		border: none;
	}
}

.popup-menu__link-text {
	font-family: $os_bold;
	font-size: 1.2rem;
	text-transform: uppercase;

	@media(max-width: 991px) {
		font-family: $os_semi;
		text-transform: none;
		font-size: 1.3rem;
	}
}

.popup-menu__label {
	font-family: $os_bold;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	background-color: $primary;
	color: $white;
	text-align: center;
	font-size: 1.2rem;
}