.logo {
	display: flex;
	justify-content: center;
	align-items: center;

	&:visited, &:hover {
		text-decoration: none;
		color: $text_c;
	}
}

.logo__img {
	height: 5rem;
	padding-right: 1.5rem;
}

.logo__name {
	font-family: $os_semi;
	font-size: 3rem;
	text-transform: uppercase;
}