.tile {
	position: relative;
	display: grid;
	grid-template-areas: 
	"tile_1 tile_1 tile_2"
	"tile_1 tile_1 tile_3"
	"tile_4 tile_5 tile_6"
	"tile_7 tile_7 tile_8"
	"tile_9 tile_11 tile_11"
	"tile_10 tile_11 tile_11";
	grid-template-rows: repeat(6, 25rem);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.1rem;
	z-index: 1;

	@media(max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
		"tile_1 tile_1"
		"tile_2 tile_3"
		"tile_4 tile_5"
		"tile_6 tile_7"
		"tile_8 tile_9"
		"tile_10 tile_11";
	}

	@media(max-width: 768px) {
		grid-template-columns: 1fr;
		grid-auto-rows: 25rem;
		grid-template-areas: 
		"tile_1"
		"tile_2"
		"tile_3"
		"tile_4"
		"tile_5"
		"tile_6"
		"tile_7"
		"tile_8"
		"tile_9"
		"tile_10"
		"tile_11";
	}
}

.tile__item {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: $text_c;
	display: grid;
	align-items: flex-end;

	&:hover {
		text-decoration: none;
		color: $text_c;

		& .tile__bg {
			&:before {
				background-color: rgba($black, 0.5);
			}
		}
	}
}

.tile__item_1 {
	grid-area: tile_1;
}

.tile__item_2 {
	grid-area: tile_2;
}

.tile__item_3 {
	grid-area: tile_3;
}

.tile__item_4 {
	grid-area: tile_4;
}

.tile__item_5 {
	grid-area: tile_5;
}

.tile__item_6 {
	grid-area: tile_6;
}

.tile__item_7 {
	grid-area: tile_7;
}

.tile__item_8 {
	grid-area: tile_8;
}

.tile__item_9 {
	grid-area: tile_9;
}

.tile__item_10 {
	grid-area: tile_10;
}

.tile__item_11 {
	grid-area: tile_11;
}

.tile__bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.17);
		transition: background 0.35s ease-in-out;
	}
}

.tile__content {
	position: relative;
	z-index: 10;
	padding: 0 0 2rem 2rem;
}

.tile__label {
	margin-bottom: 1.5rem;
}

.tile__title {
	font-family: $os_semi;
	font-size: 2.5rem;
	color: $white;
	margin-bottom: 1.3rem;

	@media(max-width: 1280px) {
		font-size: 2rem;
	}
}

.tile__more {
	text-transform: uppercase;
	font-family: $os_light;
	font-size: 1.4rem;
	color: $grey_light_easy;
}