.content {
	position: relative;
	padding: 2rem 3rem;
	background-color: $white;
	box-shadow: $boxshadow_large;
	border-radius: 0.8rem;
	overflow: hidden;

	&:before {
		position: absolute;
		content: '';
		width: 0.4rem;
		top: 0;
		bottom: 0;
		right: 0;
		// background-color: $red_light;
	}
}