.title.title_secondary.home__title Популярные факультеты
.news.home__news
	.news__item
		.news__img(style="background-image: url('/img/english.jpg')")
		.news__content
			.news__label факультеты
			.news__title Журналистикa/Cовременные Средства Массовой Информации (СМИ)
			.news__description Журналистика – это обучение, созданное для тех, кто в будущем хочет связать свою жизнь с современными средствами массовой информации и PR. Программа обучения концентрируется на сфере медиа и включает изучение таких предметов, как журналистики, общественной коммуникации, а также медиального маркетинга и PR.
			.news__button-wrap 
				a.button.button_primary.news__button(data-js="ripple-primary", href="#") Подробнее
	.news__item
		.news__img(style="background-image: url('/img/five2.jpg')")
		.news__content
			.news__label факультеты
			.news__title Международные отношения/Европовединие
			.news__description Международные отношения — это направление для тех, кто видит свое будущее в широко распространенных зарубежных или дипломатических службах, и стремится работать в национальных и международных институтах, связанных с внешней политикой и современными европейскими и международными отношениями в государственном управлении, в местных органах власти, а также в бизнесе. 
			.news__button-wrap 
				a.button.button_primary.news__button(data-js="ripple-primary", href="#") Подробнее
.title.title_secondary.home__title Информация о поступлении
.news.home__news
	.news__item
		.news__img(style="background-image: url('/img/polsha1.jpg')")
		.news__content
			.news__label.news__label_primary Поступление
			.news__title Курс польского языка
			.news__description Журналистика – это обучение, созданное для тех, кто в будущем хочет связать свою жизнь с современными средствами массовой информации и PR. Программа обучения концентрируется на сфере медиа и включает изучение таких предметов, как журналистики, общественной коммуникации, а также медиального маркетинга и PR.
			.news__button-wrap 
				a.button.button_secondary.news__button(data-js="ripple-secondary", href="#") Подробнее
	.news__item
		.news__img(style="background-image: url('/img/documents.jpg')")
		.news__content
			.news__label.news__label_primary Поступление
			.news__title Необходимые документы
			.news__description Международные отношения — это направление для тех, кто видит свое будущее в широко распространенных зарубежных или дипломатических службах, и стремится работать в национальных и международных институтах, связанных с внешней политикой и современными европейскими и международными отношениями в государственном управлении, в местных органах власти, а также в бизнесе. 
			.news__button-wrap 
				a.button.button_secondary.news__button(data-js="ripple-secondary", href="#") Подробнее
	.news__item
		.news__img(style="background-image: url('/img/payment.jpg')")
		.news__content
			.news__label.news__label_primary Поступление
			.news__title Оплаты за обучение
			.news__description Международные отношения — это направление для тех, кто видит свое будущее в широко распространенных зарубежных или дипломатических службах, и стремится работать в национальных и международных институтах, связанных с внешней политикой и современными европейскими и международными отношениями в государственном управлении, в местных органах власти, а также в бизнесе. 
			.news__button-wrap 
				a.button.button_secondary.news__button(data-js="ripple-secondary", href="#") Подробнее