.top-panel {

}

.top-panel__content {
	display: grid;
	grid-template-columns: 1fr 1fr auto auto;
	grid-column-gap: var(--gap);
	height: 6rem;
	border-bottom: 1px solid $grey_light_easy;
	color: $grey;
}

.top-panel__box {
	display: flex;
	align-items: center;

	&:first-child {
		margin-right: auto;
	}
}

.top-panel__icon {
	padding-right: 1rem;
	color: $blue;
}

.top-panel__time {
	font-size: 1.4rem;
}

.top-panel__email {
	font-size: 1.4rem;
	color: $grey;
	transition: $transition;

	&:visited {
		text-decoration: none;
		color: $grey;
	}

	&:hover {
		text-decoration: none;
		color: $link_h;
	}
}

.top-panel__phone {
	font-family: $os_bold;
	font-size: 1.8rem;
	line-height: 1.5rem;
	color: $text_c;
	transition: $transition;

	&:visited {
		text-decoration: none;
		color: $text_c;
	}

	&:hover {
		text-decoration: none;
		color: $link_h;
	}
}