extends ../../layouts/layout-full.pug

block main
	.home
		.container
			.tile.home__tile
				a.tile__item.tile__item_1(href="#")
					.tile__bg(style="background-image: url('img/language.jpeg')")
					.tile__content
						.label.label_secondary.tile__label Поступление
						.tile__title Курс польского языка
						.tile__more Подробнее
				a.tile__item.tile__item_2(href="#")
					.tile__bg(style="background-image: url('img/magistracy.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title Магистратура
						.tile__more Подробнее
				a.tile__item.tile__item_3(href="#")
					.tile__bg(style="background-image: url('img/baccalaureate.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title Бакалавриат
						.tile__more Подробнее
				a.tile__item.tile__item_4(href="#")
					.tile__bg(style="background-image: url('img/doctorate.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title Докторат
						.tile__more Подробнее
				a.tile__item.tile__item_5(href="#")
					.tile__bg(style="background-image: url('img/mba.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title MBA и Master
						.tile__more Подробнее
				a.tile__item.tile__item_6(href="#")
					.tile__bg(style="background-image: url('img/five.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title 5-летнее обучение
						.tile__more Подробнее
				a.tile__item.tile__item_7(href="#")
					.tile__bg(style="background-image: url('img/documents.jpg')")
					.tile__content
						.label.label_secondary.tile__label Поступление
						.tile__title Необходимые документы
						.tile__more Подробнее
				a.tile__item.tile__item_8(href="#")
					.tile__bg(style="background-image: url('img/common-info.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title Общая информация
						.tile__more Подробнее
				a.tile__item.tile__item_9(href="#")
					.tile__bg(style="background-image: url('img/english.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title Обучение на английском
						.tile__more Подробнее
				a.tile__item.tile__item_10(href="#",)
					.tile__bg(style="background-image: url('img/payment.jpg')")
					.tile__content
						.label.label_secondary.tile__label Поступление
						.tile__title Оплаты за обучение
						.tile__more Подробнее
				a.tile__item.tile__item_11(href="#")
					.tile__bg(style="background-image: url('img/graduation.jpg')")
					.tile__content
						.label.label_primary.tile__label Специальности
						.tile__title Последипломное обучение
						.tile__more Подробнее
