extends ../../layouts/layout-sidebar.pug

block main-title
	h1.page-title__title Наши контакты
		
block main
	.contacts
		.contacts__over-title ksaman travel
		.title.title_underline.contacts__main-title Туристическая компания
		.contacts__description Мы предлагем услуги по визовой поддержке, разработке индивидуального или группового тура, содействие в проведении семинаров, конференций, бизнес-встреч, размещение в отелях, гостиницах, частных апартаментах, базах отдыха.
		.box.contacts__box
			.box__item
				.box__content
					.box__icon-wrap
						i.fa.fa-home.box__icon
					.box__title Наш адрес
					.box__info
						.box__info-item
							.box__info-text Республика Беларусь
						.box__info-item
							.box__info-text г. Минск п.и #[span 220039]
						.box__info-item
							.box__info-text ул. Воронянского, #[span дом 7А]
						.box__info-item
							.box__info-text Кабинет #[span 815]
			.box__item
				.box__content
					.box__icon-wrap
						i.fa.fa-user.box__icon
					.box__title Контакты
					.box__info
						.box__info-item
							.box__info-text +375 (#[span 17]) 228 12 63 #[em городской]
						.box__info-item
							.box__info-text +375 (#[span 29]) 357 85 63 #[em velcom]
						.box__info-item
							.box__info-text +375 (#[span 44]) 540 23 47 #[em velcom]
						.box__info-item
							.box__info-text ksaman.travel@gmail.com
			.box__item
				.box__content
					.box__icon-wrap
						i.fa.fa-clock-o.box__icon
					.box__title Время работы
					.box__info
						.box__info-item
							.box__info-text #[span Пн - Вт] : 09:00 - 18:00
						.box__info-item
							.box__info-text Без обеда
						.box__info-item
							.box__info-text #[span Суббота, Воскресенье]
						.box__info-item
							.box__info-text Выходные