.about.home__about
	.container
		.about__content
			.about__over-title ksaman travel
			.title.title_underline.about__title Кто мы такие
			.about__description Наша компания создана людьми, которые имеют большой опыт в сфере туризма, что позволяет правильно оценивать предпочтения туристов и в общении с каждым человеком вырабатывать индивидуальный подход. Мы сотрудничаем только с надежными партнерами и поэтому гарантируем, что в форс-мажорной ситуации Вы никогда не останетесь без нашей поддержки.
	.about__section
		.container
			.about__row
				.about__col
					.about__content.about__content_section
						.about__over-title.about__over-title_inverted мы рады вам
						.title.title_underline.about__title.about__title_inverted Наши главные стремления
						.about__description.about__description_inverted Наша главная цель &#8212; предоставить максимально удобную в использовании платформу для предоставления комплекса услуг в сфере туризма. Мы постоянно работаем над составлением интересных и нестандартных туров, учитываем ошибки прошлого, стараемся идти в ногу со временем и все это для того чтобы сделать Вашу поездку комфортной, интересной и незабываемой.
						a.button.button_primary.about__button(data-js="ripple-primary", href="#") Наши контакты
				.about__col
					.about__bg(style="background-image: url('img/documents.jpg')")
		



