extends ../../layouts/layout-full.pug

block main
	.container
		h1 My Test Page For Study Web Development

		main(id="app")
			header
				h1 Todo JS
			ul(id="todo-list")
			form(id="todo-form")
				input(id="add-input", type="text")
				button(id="add-button", type="submit")