.ripple {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	opacity: 1;
	background-color: rgba($black, 0.1);
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 0.3s linear;
	outline: none!important;
	border: none;
	box-shadow: none;
}

.ripple_primary {
	background-color: rgba($blue, 0.3);
}

.ripple_secondary {
	background-color: rgba($secondary, 0.3);
}

@keyframes ripple {
	100% {
		transform: scale(5);
		opacity: 0;
	}
}