extends ../../layouts/layout-post.pug

block main
	section.general
		h1 Общая информация

		.general__grid
			.short-info.general__short-info
				.short-info__bg(style="background-image: url('/img/girl.jpg')")
				.short-info__box
					.short-info__item
						.short-info__title Бакалавриат:
						.short-info__text 3 года
					.short-info__item
						.short-info__title Бакалавриат-инженер:
						.short-info__text 3.5 года
					.short-info__item
						.short-info__title Магистратура:
						.short-info__text 1.5 / 2 года
					.short-info__item 
						.short-info__title 5-летнее обучение:
						.short-info__text 5 лет
			.general__content
				p Общественная Академия Наук предлагает обучение в разных направлениях. Программы обучения содержат приобретение, как теоретических знаний, так и практических навыков, необходимых для успешной профессиональной жизни. 
				p В рамках занятий доминируют упражнения и мастер-классы, которые помогают подготовить выпускника к выходу на рынок труда.


