.general {

}

.general__h1 {

}

.general__grid {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: 40% 1fr;
	grid-column-gap: var(--gap);
}

.general__content {

}

.general__short-info {

}