.footer
	.container
		.footer__content
			.logo.footer__logo
				img.logo__img(src="/img/logo.png", alt="Ksaman Travel")
				span.logo__name Ksaman Travel
			.footer__row
				.footer__col.footer__col_1
					.footer__info
						.title.title_underline.footer__title Контакты
						.footer__detail
							.footer__detail-title Телефоны
							.footer__list
								a.footer__list-item(href="tel:+375172281263") +375 (17) 228-12-63
								a.footer__list-item(href="tel:+375293578563") +375 (29) 357-85-63
							.footer__detail-title.footer__detail-title_indent Мы находимся
							.footer__list
								.footer__list-item п/и 220039 Беларусь, г. Минск,
								.footer__list-item ул. Воронянского, дом 7А, кабинет 815
				.footer__col.footer__col_2
					.footer__info
						.title.title_underline.footer__title Время работы
						.footer__detail
							.footer__list
								.footer__list-item Понедельник: 09:00 — 18:00
								.footer__list-item Вторник: 09:00 — 18:00
								.footer__list-item Среда: 09:00 — 18:00
								.footer__list-item Четверг: 09:00 — 18:00
								.footer__list-item Пятница: 09:00 — 18:00
								.footer__list-divider
								.footer__list-item Сб - Вс: выходной
				.footer__col.footer__col_3
					.footer__info
						.title.title_underline.footer__title Обучение
						.footer__detail
							.footer__list
								a.footer__list-item(href="#") Общая информация
								a.footer__list-item(href="#") Магистратура
								a.footer__list-item(href="#") Бакалавриат
								a.footer__list-item(href="#") Докториат
								a.footer__list-item(href="#") Необходимые документы
								.footer__list-divider
								a.footer__list-item(href="#") Способы оплаты
				.footer__col.footer__col_4
					.footer__info
						.title.title_underline.footer__title О нас
						.footer__detail
							.footer__about ООО «Ксаман Трэвел» предлагает услуги по визовой поддержке, разработке индивидуального или группового тура, содействие в проведении семинаров, конференций, бизнес-встреч, размещение в отелях, гостиницах, частных апартаментах, базах отдыха. Мы предлагаем различные программы путешествий и отдыха по нашей стране.

	.footer__copyright
		.footer__copyright-info Все права защищены ООО «Ксаман Трэвел» УНП 192698584 2015-2018гг.